%h2 Registration Process
= bootstrap_devise_error_messages!
= form_for(resource, :as => resource_name, remote: true, :format => :json, :url => registration_path(resource_name), html: { role: "form", class: 'registration_form' }) do |f|
  .bs-example
    %ul.nav.nav-wizard
      %li.active
        %a#step_1_tab{"data-toggle" => "tab", :href => "#step1"} Step 1 - Basic Information
      %li
        %a#step_2_tab{ :href => "#step2"} Step 2 - Address
      %li
        %a#step_3_tab{ :href => "#step3"} Step 3 - Email Confirmation
      %li
        %a Step 4 - Security Questions
      %li
        %a Done. Get the Secret
    %hr
      #myTabContent.tab-content
        #step1.tab-pane.fade.active.in
          .panel.panel-default
            .panel-heading
              %h4 Basic Information
            .panel-body
              .form-group
                = f.label :first_name
                = f.text_field :first_name, class: "form-control" , 'data-bv-notempty' => "true"

              .form-group
                = f.label :middle_name
                = f.text_field :middle_name, class: "form-control"
              .form-group
                = f.label :last_name
                = f.text_field :last_name, class: "form-control", 'data-bv-notempty' => "true"  
              .form-group
                = f.label :email
                = f.email_field :email, class: "form-control", 'data-bv-notempty' => "true", "data-bv-emailaddress" => "true", "data-bv-emailaddress-message" => "The email address is not a valid"

              .form-group
                = f.label :password
                = f.password_field :password, class: "form-control", 'data-bv-notempty' => "true","data-bv-stringlength" => "true", "data-bv-stringlength-min" => "8", "data-bv-stringlength-message" => "The password must have at least 8 characters", "data-bv-identical-field" => "#user_password_confirmation", "data-bv-identical-message" => "The password and its confirmation are not the same"
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, class: "form-control", 'data-bv-notempty' => "true","data-bv-identical-field" => "#user_password", "data-bv-identical-message" => "The password and its confirmation are not the same"
              .form-group
                = f.label :date_of_birth
                = f.text_field :date_of_birth, class: "form-control", placeholder: 'YYYY/MM/DD', 'data-bv-notempty' => "true", "data-bv-date" => "true", "data-bv-date-format" => "YYYY/MM/DD", "data-bv-date-message" => "The format of the date should be YYYY/MM/DD "   
              .form-group
                = f.label 'Social Security Number'
                = f.text_field :ssn, class: "form-control", 'data-bv-notempty' => "true"  
              %a.btn.btn-primary.pull-right.go_to_step_2#next_step Next step
        #step2.tab-pane.fade
          .panel.panel-default
            .panel-heading
              %h4 Address
            .panel-body
              .form-group
                = f.label :street_1
                = f.text_field :street_1, class: "form-control" , 'data-bv-notempty' => "true"
              .form-group
                = f.label :street_2
                = f.text_field :street_2, class: "form-control" , 'data-bv-notempty' => "true"
              .form-group
                = f.label :city
                = f.text_field :city, class: "form-control" , 'data-bv-notempty' => "true"
              .form-group
                = f.label :state
                = f.text_field :state, class: "form-control" , 'data-bv-notempty' => "true"
              .form-group
                = f.label :postal_code
                = f.text_field :postal_code, class: "form-control" , 'data-bv-notempty' => "true"
              .form-group
                = f.label :country_code
                = f.select :country_code, options_for_select([['United States', 'US'], ['Brazil', 'BR']]), {},  { class: "form-control" , 'data-bv-notempty' => "true"}
              = f.submit "Register", class: "btn btn-success pull-right", data: { disable_with: "Please wait..." }
              
        #step3.tab-pane.fade
          %h3 Email Confirmation
          .panel.panel-success
            .panel-heading
              %h3.panel-title You've signed up!
            .panel-body
              Nice! Now check your email and click on the confirmation link.
:javascript
  $(function(){
    registration_form.start();
  });